n8n-visitor-workflow.json
{
  "name": "Visitor Check-In Notification",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 60],
      "parameters": {
        "content": "## Visitor Check-In — Setup Checklist\n\n**1. Copy the webhook URL**\nActivate this workflow, then open the *Visitor Arrives* node and copy the Production URL. Paste it into the kiosk admin panel under **Integrations → n8n Webhook URL**.\n\n**2. Slack credential**\nOpen *DM the Host* and *Post to Channel* and select your Slack credential on each (OAuth2 or Bot Token).\n\n**3. Slack channel**\nIn *Post to Channel*, change `#front-desk` to whichever channel should receive all visitor notifications.\n\n**4. Google Calendar** *(optional)*\nOpen *Log to Calendar* and select your Google Calendar credential. Change `calendarId` from `primary` to whichever calendar should log visits.\nTo skip this, delete the *Log to Calendar* node and its connections.\n\n**5. Employee Slack User IDs**\nIn the kiosk admin panel under **Employees**, add each person's Slack User ID (e.g. `U0123ABCDEF`). The system will DM them directly when a visitor arrives.\n\n---\n**Incoming payload fields:**\n`firstName` · `lastName` · `company` · `host` · `hostSlackId`",
        "height": 480,
        "width": 420,
        "color": 5
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Visitor Arrives",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [720, 300],
      "webhookId": "b2c3d4e5-0002-0002-0002-000000000002",
      "parameters": {
        "httpMethod": "POST",
        "path": "visitor-checkin",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Post to Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 180],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#front-desk",
          "mode": "name"
        },
        "text": "=:wave: *Visitor Check-In*\n*{{ $('Visitor Arrives').item.json.firstName }} {{ $('Visitor Arrives').item.json.lastName }}*{{ $('Visitor Arrives').item.json.company ? ' from *' + $('Visitor Arrives').item.json.company + '*' : '' }} has arrived to see *{{ $('Visitor Arrives').item.json.host }}*.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Log to Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [960, 420],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $now.toISO() }}",
        "end": "={{ $now.plus({ minutes: 30 }).toISO() }}",
        "additionalFields": {
          "summary": "=Visit: {{ $('Visitor Arrives').item.json.firstName }} {{ $('Visitor Arrives').item.json.lastName }} → {{ $('Visitor Arrives').item.json.host }}",
          "description": "=Visitor: {{ $('Visitor Arrives').item.json.firstName }} {{ $('Visitor Arrives').item.json.lastName }}\nCompany: {{ $('Visitor Arrives').item.json.company || 'N/A' }}\nHost: {{ $('Visitor Arrives').item.json.host }}\n\nLogged automatically by Visitor Check-In system."
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Has Host Slack ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-slack-id",
              "leftValue": "={{ $('Visitor Arrives').item.json.hostSlackId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "DM the Host",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1440, 180],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Visitor Arrives').item.json.hostSlackId }}",
          "mode": "id"
        },
        "text": "=:wave: Hi *{{ $('Visitor Arrives').item.json.host }}* — *{{ $('Visitor Arrives').item.json.firstName }} {{ $('Visitor Arrives').item.json.lastName }}*{{ $('Visitor Arrives').item.json.company ? ' from *' + $('Visitor Arrives').item.json.company + '*' : '' }} is at the front desk to see you.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Visitor Arrives": {
      "main": [
        [
          { "node": "Post to Channel",   "type": "main", "index": 0 },
          { "node": "Log to Calendar",   "type": "main", "index": 0 }
        ]
      ]
    },
    "Post to Channel": {
      "main": [
        [
          { "node": "Has Host Slack ID?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Host Slack ID?": {
      "main": [
        [
          { "node": "DM the Host", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond OK",  "type": "main", "index": 0 }
        ]
      ]
    },
    "DM the Host": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "visitor-system" }
  ]
}
